.tombol{
  background:#00cec9;
  color:white;
  border-top:0;
  border-left:0;
  border-right:0;
  border-bottom:5px solid ##00cec9;
  padding:10px 20px;
  text-decoration:none;
  font-family:Wake The Warrior;
  font-size:20pt;
}

 border-top:0;
  border-left:0;
  border-right:0;
  border-bottom:5px solid ##dfe6e9;